{% extends './../Base.html' %}
{% load static %}

{% block navi %}
      <div class="pagetitle">
        <h1>Create new question</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">
                <a href="/question/list/">My questions</a>
            </li>
            <li class="breadcrumb-item active">Create new question</li>
          </ol>
        </nav>
      </div>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Form</h5>

      <!-- Vertical Form -->

      
      <form class="card-form form" method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}

        <ul>
            <li>
                <div class="field">
                    {{ form.description }}
                    {{ form.description.label_tag }}
                </div>
                {{ form.description.errors }}
            </li>
            
            <li class="field__group">
                <div>
                    {{ form.image.label_tag }}
                    {{ form.image }}
                </div>
                {{ form.image.errors }}
            </li>

            <li class="field__group alternativas">
                <div class="col-sm-7">
                    <div data-mdb-input-init class="form-outline">
                        <div class="">
                            <label class="form-label" for="id_alternativa1">Alternativa 1</label>
                            <input type="text" id="id_alternativa1" class="form-control" name="alternativa" />
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="id_isAnswer1" name="is_answer" value="0" />
                            <label class="form-check-label" for="id_isAnswer1">É a resposta</label>
                        </div>
                    </div>
                </div>
            </li>

            <li class="field__group alternativas">
                <div class="col-sm-7">
                    <div data-mdb-input-init class="form-outline">
                        <div class="">
                            <label class="form-label" for="id_alternativa2">Alternativa 2</label>
                            <input type="text" id="id_alternativa2" class="form-control" name="alternativa" />
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="id_isAnswer2" name="is_answer" value="1" />
                            <label class="form-check-label" for="id_isAnswer2">É a resposta</label>
                        </div>
                    </div>
                </div>
            </li>

            <li class="field__group alternativas">
                <div class="col-sm-7">
                    <div data-mdb-input-init class="form-outline">
                        <div class="">
                            <label class="form-label" for="id_alternativa3">Alternativa 3</label>
                            <input type="text" id="id_alternativa3" class="form-control" name="alternativa" />
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="id_isAnswer3" name="is_answer" value="2" />
                            <label class="form-check-label" for="id_isAnswer3">É a resposta</label>
                        </div>
                    </div>
                </div>
            </li>

            <li class="field__group alternativas">
                <div class="col-sm-7">
                    <div data-mdb-input-init class="form-outline">
                        <div class="">
                            <label class="form-label" for="id_alternativa4">Alternativa 4</label>
                            <input type="text" id="id_alternativa4" class="form-control" name="alternativa" />
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="id_isAnswer4" name="is_answer" value="3" />
                            <label class="form-check-label" for="id_isAnswer4">É a resposta</label>
                        </div>
                    </div>
                </div>
            </li>


        </ul>
        <div class="actions">
            <button class="btn submit" type="submit">
                Salvar
            </button>
        </div>
    </form><!-- Vertical Form -->

    </div>
  </div>
  
{% endblock %}