
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
}

:root {
    --c-primary: #0f7fff;
    --c-secondary: #8710a8;

    --pd-s1: 0.1rem;
    --pd-s2: 0.2rem;
    --pd-s3: 0.4rem;
    --pd-s4: 0.8rem;
    
    --pd-m1: 1.0rem;
    --pd-m2: 1.2rem;
    --pd-m3: 1.4rem;
    --pd-m4: 1.8rem;

    --pd-l1: 2.2rem;
    --pd-l2: 2.6rem;
    --pd-l3: 3.0rem;
    --pd-l4: 3.4rem;

    --radius-s: 4px;
    --radius-m: 8px;

    --text-color: #292D32;
    --text-muted: #7a8288;
}


.text-primary { color:  var(--c-primary);}
.text-secondary { color:  var(--c-secondary);}



.form {
    padding: var(--pd-s4) 0; }
    .form ul {
      display: flex;
      flex-direction: column;
      gap: var(--pd-m3); }
    .form .field__group {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: var(--pd-m1); }
      .form .field__group li {
        flex-grow: 1;
        min-width: 7rem; }
    .form .field {
      --input-fontSize: 1rem;
      --label-fontSize: 0.8rem;
      --border-focus-size: 2px;
      position: relative;
      height: 2.4em;
      width: 100%; }
      .form .field label {
        display: inline;
        position: absolute;
        left: 0.8em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: var(--input-fontSize);
        text-transform: capitalize;
        top: calc(50% - (var(--input-fontSize) - 0.4em) / 2 );
        color: gray;
        transition: 0.15s ease;
        padding: 0 var(--pd-s2);
        z-index: -1;
        color: var(--text-muted); }
      .form .field input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: 1px solid rgba(153, 153, 153, 0.446);
        font-size: 1em;
        padding: var(--pd-m3) var(--pd-m1);
        border-radius: var(--radius-s);
        background: none;
        font-size: var(--input-fontSize);
        z-index: 1; }
        .form .field input:focus {
          z-index: 0;
          outline: none;
          outline: 2px solid var(--c-secondary); }
          .form .field input:focus ~ label {
            color: var(--c-secondary);
            font-weight: 600; }
        .form .field input:focus ~ label, .form .field input:not(:placeholder-shown):not(:focus) + label {
          --input-top: calc( var(--label-fontSize) + var(--border-focus-size) / 2);
          top: calc( var(--input-top) * -1 + 0.3rem);
          background-color: #FFF;
          font-weight: 600;
          font-size: var(--label-fontSize);
          z-index: 1; }
    .form .errorlist {
      color: darkred; }
      .form .errorlist li::before {
        content: "*";
        padding-left: var(--pd-s2); }
    .form .submit {
      display: inline-block;
      min-width: 4em;
      width: 100%;
      max-width: 8em;
      height: 2.4em;
      font-weight: 600;
      font-size: 1em;
      border-radius: 5px;
      color: #FFF;
      background-color: var(--c-secondary); }
  
  .actions {
    margin-top: var(--pd-l1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline; }
    .actions .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      font-size: 0.97rem; }
    .actions .submit {
      background-color: var(--c-secondary);
      padding: var(--pd-s4) var(--pd-m1);
      border-radius: var(--radius-s);
      font-weight: 500;
      font-size: 0.87rem;
      cursor: pointer;
      color: #FFF; }
  
  /*# sourceMappingURL=registrar.css.map */
  